/* Global CSS */

body {
  margin: 0;
  font-family: 'Burtons', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  background: #000000;
  font-weight: 400;
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
:root {
  --primary: #ffffff;
  --heading-color: rgb(14, 116, 144) 8;
  --bg-shade: #f5fcff;
  --github: #000000;
  --darkblue: #1c1e53;
  --black: #000000;
  --bgcolor: #383838;
  --hovercoler: rgb(147 51 234);
  text-decoration: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  font-family: 'burtons';
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}
.btn-outline-primary {
  color: var(--primary);
  background-color: var(--black);
  border: 1px solid var(--primary);
}
.btn-outline-primary:hover {
  color: var(--hovercoler);
  background-color: var(--bgcolor);
}
.btn-primary {
  color: var(--primary);
  background-color: var(--bgcolor);
  border: 1px solid var(--primary);
}
.btn-primary:hover {
  color: var(--hovercoler);
  background-color: var(--heading-color);
}
.btn-github {
  border: 1px solid;
  padding: 10px 20px;
  color: var(--primary);
  background: var(--bgcolor);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  background-size: 200% auto;
  box-shadow: 0 0 10px #eee;
  border-radius: 8px;
}
.btn-github a {
  text-decoration: none;
  color: var(--primary);
}
.btn-github a:hover {
  text-decoration: none;
  color: var(--hovercoler);
}
.btn-github img {
  filter: grayscale(100%) brightness(0%) invert(100%);
}

.btn-github:hover {
  color: var(--hovercoler);
  background-color: var(--heading-color);
}
/* Global CSS Ends */
/* Main Headings */

/* Heading 1 */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}
/* Heading 2 */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
/* Heading 3 */
h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

/* Pragraphs text large medium small */
/* Body 1 */
.text-lg {
  color: var(--darkblue);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
/* Body 2 */
.text-md {
  color: var(--darkblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
/* Body 3 */
.text-sm {
  color: var(--black);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* Section Titles */
/* Skills & About Me */
.section--title {
  color: var(--heading-color);
  font-size: 21px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  align-items: flex-start;
}
/* Portfolio, Testimonial & Contact Me */
.sub--title {
  color: var(--heading-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
/* Section Titles Ends */

/* Navbar Style Start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 85.333px;
  box-shadow: 0px 5.333px 80px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: var(--black);
  border-bottom: 0.2px solid lightslategray;
  border-radius: 5px;
}
.navbar--items {
  background: var(--black);
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 60px;
  text-decoration: none;
}
.navbar--items ul > li > a {
  text-decoration: none;
}
/* Navbar Content */
.navbar--content {
  font-size: 18.667px;
  line-height: 28px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  animation: fadeIn 0.5s ease-in forwards;
}
.navbar--content:hover {
  color: var(--hovercoler);
}
.navbar--active-content {
  color: var(--primary);
}

/* Navbar Styler Ends */

/* Hero Section Style */
.hero--section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 200px 70px;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  color: var(--primary);
  border-bottom: 1px solid;
}

.hero--section--content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  transition: transform 0.3s ease;
  padding: 20px;
  margin: 0 20px;
}

.section--title {
  margin-bottom: 10px;
}
.hero--section--title {
  color: var(--hovercoler);
  font-size: 74.667px;
  font-weight: 700;
  line-height: 90px;
  margin-bottom: 16px;
}

.hero--section-description {
  color: var(--white);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  transition: color 0.3s ease;
  margin-bottom: 40px;
}

.hero--section-description:hover {
  color: var(--hovercoler);
}

.hero--section--img {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  margin: 0 20px;
}

.hero--section--img > img {
  width: 100%;
  height: auto;
  animation: bounce 1.5s infinite ease-out alternate;
  transition: ease-in;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
/* Hero Section Style Ends */

/* Skills Section Style */
.skills--section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 190px 70px;
  border-bottom: 1px solid;
}

.skills--section--heading {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  padding-bottom: 150px;
}

.skills--section--container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  padding: 0 10px;
}

.skills--section--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  min-height: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: var(--black);
  color: var(--primary);
  border: 1px solid;
}

.skills--section--card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skills--section--img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: var(--primary);
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills--section--img > img {
  height: 70px;
  width: 70px;
}

/* Skills Style Ends */

/* About Us */
.about--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 120px 70px;
  align-items: center;
  gap: 80px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid;
}

.about--section--img > img {
  width: 100%;
  height: 100%;
  animation: bounce 1.5s infinite ease-out alternate;
  transition: ease-in;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}

.skills--section--heading {
  font-size: 2.5rem;
  transition: color 0.3s ease-in-out;
}

.skills--section--heading:hover {
  color: var(--hovercoler);
}

.hero--section--description {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 15px;
  transition: transform 0.3s ease-in-out;
}

.hero--section--description:hover {
  transform: translateX(10px);
  color: var(--hovercoler);
}

/* About Us Ends */

/* My Portfolio Starts */
.portfolio--section {
  display: flex;
  padding: 120px 70px;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;
  border-bottom: 1px solid;
}

.portfolio--container-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.portfolio--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 21.3px;
}

.portfolio--section--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42.6px;
  width: 100%;
  flex-wrap: wrap;
}

.portfolio--section--img > img {
  width: 100%;
  border-radius: 5px;
}
.section--heading {
  font-size: 2.5rem;
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out;
}
.section--heading:hover {
  color: var(--hovercoler);
}

.portfolio--section--card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  border: 1px solid;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio--section--card:hover {
  box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-10px) scale(1.04);
}

.portfolio--section--card--content {
  margin: 0 10px;
}
.portfolio-section-card-link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  margin: 0 20px;
}

.portfolio--section--title {
  color: var(--primary);
  margin-bottom: 18px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}
.text-md {
  color: var(--primary);
  margin-bottom: 10px;
}

.portfolio--link {
  text-decoration: none;
  color: var(--primary);
  display: inline-flex;
  border-bottom: 1.33px solid var(--primary);
  padding-bottom: 10.6px;
  font-weight: 600;
  margin-right: 20px;
}

.portfolio--link:hover {
  color: var(--hovercoler);
  border-bottom: 1.33px solid var(--hovercoler);
}
/* Portfolio Ends */

/* contact section */
.contact--section {
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid;
}

.contact--form--container {
  display: grid;
  border: 1px solid;
  color: var(--primary);
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  width: 30%;
  max-width: 800px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  gap: 32px;
}

.contact--label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.contact--input {
  padding: 14px;
  border-radius: 8px;
  border: 1.333px solid var(--primary);
  color: var(--primary);
  width: 80%;
  background: var(--black);
  cursor: pointer;
}

.contact--me {
  font-size: 2.5rem;
  margin-bottom: 25px;
  transition: color 0.3s ease-in-out;
}

.contact--me:hover {
  color: var(--hovercoler);
}

.checkbox--label {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--black);
}

.btn-primary.contact--form--btn {
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 10px #eee;
  border-radius: 8px;
}

/* Contact End */

/* Footer Starts */
.footer--container {
  display: flex;
  padding: 0px 40.333px;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  align-self: stretch;
  font-size: larger;
}
.footer--link--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  cursor: pointer;
}

.footer--items > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.footer--social--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer--social--icon > ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.divider {
  margin: 0px 0 42.67px;
  height: 0.333px;
  width: 100%;
}

/* footer ends */

/* Responsive Screens */
@media only screen and (max-width: 1800px) {
  .hero--section--title {
    font-size: 68px;
    line-height: 70px;
  }
  .skills--section--title {
    font-size: 28px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 1600px) {
  .skills--section--heading {
    font-size: 54px;
    line-height: 70px;
  }
  .skills--section--container {
    gap: 16px;
  }
  .skills--section--card {
    gap: 28px;
  }
  .skills--section--card--content {
    gap: 20px;
  }
  .skills--section--title {
    font-size: 23px;
    line-height: 30px;
  }
  .skills--section--description {
    font-size: 17.333px;
    line-height: 27px;
  }
}

@media only screen and (max-width: 1200px) {
  .btn-outline-primary {
    display: none;
  }
  .hero--section {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 70px;
  }

  .hero--section--title,
  .hero--section-description,
  .footer--content {
    text-align: center;
  }
  .skills--section--container,
  .about--section,
  .portfolio--section--container,
  .portfolio--container-box,
  .footer--link--container,
  .footer--items > ul,
  .footer--content--container {
    display: flex;
    flex-direction: column;
  }
  .skills--section,
  .portfolio--container,
  .hero--section--content,
  .hero--section--content--box {
    align-items: center;
  }
  .portfolio--container-box {
    gap: 30px;
  }
  .skills--section,
  .testimonial--section,
  .contact--section,
  .footer--container {
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .about--section {
    gap: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .testimonial--section--card {
    padding: 25px;
  }
  .hero--section--title,
  .skills--section--heading,
  .sections--heading {
    font-size: 35px;
    line-height: 40px;
  }
  .hero--section--content--box {
    gap: 10px;
  }
  .contact--form--container {
    width: 70%;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer--social--icon > ul,
  .footer--items > ul {
    padding: 0;
    align-items: center;
  }
  .divider {
    margin: 20px;
  }
}

/* Hamburger menu styles */
.nav__hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 25px;
  right: 25px;
}

.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: white;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
    z-index: 200;
  }
  .navbar--items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -23rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .navbar--items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: -100;
  }
  .navbar--items ul li {
    text-align: center;
  }
  .navbar--items ul li a {
    padding: 0.5rem;
    color: white;
  }
  .navbar--items {
    z-index: -1000;
  }
  .navbar--items.active {
    top: 30px;
  }
  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}

/* Responsive Screens Ends*/

.desc {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  opacity: 0;
  animation: fadeIn 1s forwards;
  color: #ffffff;
}

@media (min-width: 768px) {
  .desc {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
